.container-fluid {
    padding-top: 50px;
  }
  
  .jumbotron {
    margin-bottom: 0;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  h2 {
    margin-top: 0;
  }
  
  @media (min-width: 992px) {
    .col-md-6:first-child {
      padding-right: 30px;
    }
  
    .col-md-6:last-child {
      padding-left: 30px;
    }
  }
  