h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #343a40;
  }
  form {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #343a40;
  }
  input[type="text"] {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    font-size: 1rem;
    color: #495057;
  }
  select.form-control {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-size: 1rem;
    color: #495057;
  }
  button.btn-primary {
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: #007bff;
    border-color: #007bff;
  }
  button.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    form {
      padding: 1.5rem;
    }
    label {
      font-size: 1rem;
    }
    input[type="text"],
    select.form-control {
      font-size: 0.9rem;
    }
    button.btn-primary {
      font-size: 1.1rem;
      padding: 0.4rem;
    }
    button[type="submit"] {
        max-width: 100%;
        width: auto;
        
      }
  }