{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/about.css">
{% endblock %}

{%block content%}
<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      <h1 class="display-4">About Our App</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula, odio a dapibus elementum, est lorem egestas velit, vel blandit mauris quam in ipsum. Ut euismod augue a erat interdum varius. Sed euismod odio eget nunc rhoncus, nec molestie mauris sagittis. Fusce sodales eros id sapien interdum, eget lacinia augue bibendum. Aliquam in nulla in magna semper tristique vel nec ex.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="https://via.placeholder.com/500x400" class="img-fluid" alt="placeholder">
    </div>
    <div class="col-md-6">
      <h2>Our Mission</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula, odio a dapibus elementum, est lorem egestas velit, vel blandit mauris quam in ipsum. Ut euismod augue a erat interdum varius. Sed euismod odio eget nunc rhoncus, nec molestie mauris sagittis. Fusce sodales eros id sapien interdum, eget lacinia augue bibendum. Aliquam in nulla in magna semper tristique vel nec ex.</p>

      <h2>Our Vision</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vehicula, odio a dapibus elementum, est lorem egestas velit, vel blandit mauris quam in ipsum. Ut euismod augue a erat interdum varius. Sed euismod odio eget nunc rhoncus, nec molestie mauris sagittis. Fusce sodales eros id sapien interdum, eget lacinia augue bibendum. Aliquam in nulla in magna semper tristique vel nec ex.</p>
    </div>
  </div>
</div>
{%endblock%}