<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KitchenBestie | The Recipe App</title>
    <link rel="stylesheet" href="../static/css/landingpage.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
   <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">KitchenBestie</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container text-center">
        <h1 class="display-4">KitchenBestie</h1>
        <p class="lead">Find delicious recipes at the click of a button.</p>
        <a href="/" class="btn btn-primary btn-lg">Get Started</a>
      </div>
    </div>

   
    <!-- Feature Section -->
    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>Search Recipe</h2>
              <p>
                Search for recipes by entering the name of a dish or ingredient
                Display the recipe title, image, estimated time required, and link to source for recipe instructions
                Click on the link to the source to view the instructions for the recipe
              </p>
              <p>
                Whether you're an experienced chef or a novice in the kitchen,
                KitchenBestie makes it easy for you to discover and prepare new
                recipes that are both nutritious and delicious.
              </p>
            </div>
            <div class="col-md-6 mb-5">
              <img src="../static/images/products/applepie.jpg" class="img-fluid" alt="About Us" />
            </div>
          </div>
        </div>
      </section>
       <!-- About Section -->
    <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2>About Us</h2>
              <p>
                KitchenBestie is a recipe app that helps you find delicious and
                healthy recipes. Our app provides you with a wide variety of
                recipes to choose from, including vegetarian, vegan, and
                gluten-free options.
              </p>
              <p>
                  The Recipe Search App was inspired by my love for cooking and finding easy ways to prepare delicious meals.
                   The project was created as a portfolio project
                   for the foundation sprint of the Holberton School (ALX) software engineering certification program.
              </p>
              <p>
                <a href="https://twitter.com/ukoh_bennet">Follow me on Twitter</a><br>
                <a href="https://www.linkedin.com/in/ukohbennet/">Let's connect on LinkedIn</a><br>
                <a href="https://github.com/Bennet-Ukoh/">Check me out on Github</a>
              </p>
             
            </div>
            <div class="col-md-6">
              <img src="../static/images/bethany.jpg" class="img-fluid" alt="About Us" />
            </div>
          </div>
        </div>
      </section>

    <!-- Footer -->
    <footer class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>&copy; 2023 KitchenBestie. All rights reserved.</p>
          </div>
          <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="#">Privacy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">FAQ</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    